<?xml version="1.0" encoding="UTF-8" ?>
<suite name="OrangeHRMSuite" parallel="classes" thread-count="5">
	<listeners>
		<listener class-name="com.orangehrm.listeners.TestListener"></listener>
	</listeners>

	<test name="OrangeHRMTest">

		<classes>

			<!-- <class name="com.orangeHRM.test.HomePageTest"/> -->
			<!-- <class name="com.orangeHRM.test.LoginPageTest"/> -->
			<class name="com.orangeHRM.test.DBVerificationTest"/>
		</classes>
	</test>

</suite>